PORT=2200
NODE_ENV=production
DATABASE_URL="postgresql://..."

# JWT
JWT_SECRET=""
JWT_EXPIRES_IN="7d"

# Email (SMTP)
"MAIL_HOST=live.smtp.mailtrap.io" \
    "MAIL_PORT=587" \
    "MAIL_USERNAME=api" \
    "MAIL_PASSWORD=609b82c1f4afd5e42e665c0a68a38cbc" \
    "EMAIL_FROM=noreply@ngosupporthub.ng"

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=""

# App URLs
APP_LOGIN_URL=""
ADMIN_DASHBOARD_URL=""
FRONTEND_URL=""

JITSI_APP_ID=your_app_id          # must match app_id in prosody config
JITSI_APP_SECRET=your_app_secret  # must match app_secret in prosody config
JITSI_DOMAIN=meet.yourserver.com  # your server's domain, no https://
JITSI_USE_RS256=false             # set true only if using asap_key_servesc